{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<nav id="sidebar">
  <div class="adjuster">
    <div class="photo">
      <img src="{% static 'dashboard/gfx/person-placeholder.png' %}" />
    </div>
    <div class="details">
      <p class="name">Your First Adjuster Worker</p>
      <p class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i> +44 593 394 951</p>
      <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> username@example.com</p>
      <a href="#" class="btn btn-primary btn-sm btn-block">Show profile</a>
    </div>
  </div>
  <div class="adjuster">
    <div class="photo">
      <img src="{% static 'dashboard/gfx/person-placeholder.png' %}" />
    </div>
    <div class="details">
      <p class="name">Your First Adjuster Worker</p>
      <p class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i> +44 593 394 951</p>
      <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> username@example.com</p>
      <a href="#" class="btn btn-primary btn-sm btn-block">Show profile</a>
    </div>
  </div>
</nav>

<div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        <span><i class="fa fa-address-book"></i></span>
    </button>

    <div id="map"></div>

</div>

{% endblock content %}

{% block extendfoot %}
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcDv5J2zrifQvbyx4Xji1VHCU7HP95dRY&callback=initMap">
  </script>

  <script>
    function initMap() {
      var center = {lat: 53.826175, lng: -87.227612};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: center
      });

      var marker = new google.maps.Marker({
        position: center,
        map: map
      });
    }

     $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
         });
     });
  </script>
{% endblock extendfoot %}
