html, body { height: 100%; }

.navbar {
  height: 5vh;
  z-index: 3;
  background-color: #22528e;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
      padding-top:0.5rem;
      padding-right: 0rem;
      padding-left: 3.5rem;
      font-size: 0.8rem;
      color: #EEEEEE !important;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    margin-left:7.6rem;
  }
}

#wrapper {
    height: 95vh;
    display: flex;
    align-items: stretch;
}


#map {
  width: 100%;
  height: 100%;
}

.indev {padding: 2rem;}


/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    min-width: 370px;
    max-width: 370px;
    background: #FFF;
    border-right: 2px solid #22528e;
    color: #000;
    transition: all 0.3s;
    padding-left:1rem;
    padding-right:1rem;
}

#sidebar.active {
    margin-left: -370px;
}

#sidebarCollapse {
  position: absolute;
  top: 140px;
  cursor: pointer;
  background-color: #22528e;
  border-radius: 0;
  z-index: 5;
}

.adjuster {
  display: table;
  width: 100%;
  margin-top: 1rem;
}

.adjuster .photo { display: table-cell; width: 100px; vertical-align: top}
.adjuster .photo img { width: 100%; }
.adjuster .details { display: table-cell; padding-left:0.7rem; }
.adjuster .details .name {margin-bottom: 0.2rem;}
.adjuster .details .email,.phone { font-size:0.8rem; opacity:0.7; padding-bottom:5px;margin: 0}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -370px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
