{% extends 'dashboard/base.html' %}
{% load static %}

{% block extendhead %}
<style>
#wrapper {
  padding-top: 0;
  height: calc(100% - 60px);
  display: flex;
  align-items: stretch;
}
</style>
<script type="text/javascript">
  var adj_locations = [];
</script>
{% endblock extendhead %}

{% block content %}
<nav id="sidebar">
  {% for adjuster in adjusters %}
    <div class="adjuster">
      <div class="photo">
        <img src="{{ adjuster.photo.url }}" />
      </div>
      <div class="details">
        <p class="name">{{ adjuster.first_name }} {{ adjuster.last_name }}</p>
        <p class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i> {{ adjuster.phone }}</p>
        <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ adjuster.email }}</p>
        <a href="{% url 'show_adjuster' adjuster.pk %}" class="btn btn-primary btn-sm btn-block">Show profile</a>
      </div>
    </div>
    <script>

    adj_locations.push({'name': '{{ adjuster.first_name }} {{ adjuster.last_name }}',
                        'lat': '{{ adjuster.lat }}',
                        'lng': '{{ adjuster.lng }}'})

    </script>
  {% endfor %}
</nav>

<div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        <span><i class="fa fa-address-book"></i></span>
    </button>

    <div id="map"></div>

</div>

{% endblock content %}

{% block extendfoot %}
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcDv5J2zrifQvbyx4Xji1VHCU7HP95dRY&callback=initMap">
  </script>

  <script>
    function initMap() {
      var center = {lat: 57.801800, lng: -101.659825};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 6,
        center: center
      });

      adj_locations.forEach(function(adj) {
        var marker = new google.maps.Marker({
          title: adj['name'],
          position: new google.maps.LatLng(adj['lat'], adj['lng']),
          map: map
        });
        console.log(marker);
      });
    }

     $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
             setTimeout(function () {
               google.maps.event.trigger(map, "resize");
             }, 1000);

         });
     });
  </script>
{% endblock extendfoot %}
