{% extends 'dashboard/base.html' %}
{% block content %}

<div class="modal fade" id="assigned_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Claim reassignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="POST">
      <div class="modal-body">
        {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Assign to</label>
            <select id="adjuster" name="adjuster" class="form-control">
              <option value="---">---</option>
            {% for adjuster in adjusters %}
            	<option value="{{ adjuster.pk }}">{{ adjuster.full_name }}</option>
            {% endfor %}
            </select>
          </div>
          <input type="hidden" name="claim-id-send" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
<h1>Open claims</h1>
<table class="table">
<tbody>
	<thead>
		<tr>
			<th>Created</th>
			<th>Client</th>
			<th>Assigned</th>
			<th>Policy No.</th>
		</tr>
	</thead>
	{% for obj in claims %}
	<tr>
		<td>{{ obj.created }}</td>
		<td>{{ obj.first_name }} {{ obj.last_name }}</td>
		<td>{{ obj.assigned }} <a data-toggle="modal" data-claim="{{ obj.pk }}" data-target="#assigned_modal" href="#"><i class="fa fa-repeat" data-claim="{{ obj.id }}" aria-hidden="true"></i></a></td>
		<td>{{ obj.policy_no }}</td>
		<td>
			<a href="{% url 'update_claim' obj.pk %}" class="btn btn-sm btn-link">Update</a>
		</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
{% block extendfoot %}
<script type="text/javascript">
$('#assigned_modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var claim_id = button.data('claim')
  $('input[name="claim-id-send"').val(claim_id)
})
</script>
{% endblock %}